@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Marcellus&display=swap");

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Marcellus', serif;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* HEADER */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  margin: 0 0 2%;
}

header h1 {
  margin: 1%;
  text-transform: uppercase;
  font-family: "Marcellus", serif;
}

header li {
  font-size: 14px;
  margin: 0.7%;
}

header li:hover {
  cursor: pointer;
  font-weight: 400;
}

/* Type Filter */

#type {
  width: 70%;
  margin: 1%;
  padding: 0 2%;
  color: #888888;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 2px;
  border: 1px solid transparent;
}

#type ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Tag Filter*/

#tags {
  width: 100%;
  margin: 0.5% 0 0;
  padding: 0 15%;
  color: #686868;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #c8c8c8;
}

#tags ul {
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* MAIN */

main {
  width: 85vw;
  padding: 1%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#mobile-search {
  display: none;
}

#display {
  width: 70%;
  height: 95vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid transparent;
}

/* Product Cards */

article {
  width: 32%;
  height: fit-content;
  margin: 0 0 3%;
  box-sizing: border-box;
  border: 1px solid transparent;
}

article .pic {
  margin: 0;
  padding: 0;
  display: block;
}

article img {
  width: 100%;
  border-radius: 2px;
  background-color: #f8f8f8;
  transition: opacity 1s;
}

article .pic img:nth-child(1) {
  /* opacity: 1;
  visibility: visible; */
  display: block;
}

article .pic img:nth-child(2) {
  /* opacity: 0;
  visibility: hidden;
  position: absolute; */
  display: none;
}

article .pic:hover img:nth-child(1) {
  /* opacity: 0;
  visibility: hidden;
  position: absolute; */
  display: none;
}

article .pic:hover img:nth-child(2) {
  /* opacity: 1;
  visibility: visible;
  position: relative; */
  display: block;
}

article div {
  display: flex;
  margin: 2% 0 0;
  justify-content: space-between;
}

article div:nth-child(3) {
  justify-content: flex-end;
}

article small {
  margin: 1% 2% 3%;
  padding: 2%;
  font-size: 10px;
  color: #686868;
  border-radius: 1px;

  box-shadow: 1px 1px #dbdbdb;
  transition: 500ms;
}

article:hover small {
  background-color: #dbdbdb60;
}

article h3 {
  margin: 3% 0;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
}

article h4 {
  font-weight: 200;
  font-size: 20px;
  text-align: right;
  margin: 3% 0;
  padding: 0 2px;
  opacity: 0;
  transition: 500ms;
}

article:hover h4 {
  opacity: 1;
}

article p {
  height: 5vh;
  margin: 2% auto;
  color: #686868;
  font-size: 13px;
  font-weight: 200;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

article .add-cart {
  width: 63%;
  border: none;
  border-radius: 2px;
  color: #686868;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 2% 0;
  background-color: #dbdbdb;
  transition: 500ms;
}

article:hover .add-cart {
  color: #fff;
  background-color: #000;
}

article .add-cart:hover {
  font-weight: 400;
  cursor: pointer;
  background-color: #523f02;
}

article .wish {
  width: 20%;
  border: none;
  color: #000;
  opacity: 0;
  transition: 500ms;
  background-color: transparent;
}

article:hover .wish {
  opacity: 1;
}

.wish:hover {
  color: #d40685;
}

/* ASIDE */

aside {
  width: 28%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

/* Search Bar*/
form {
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 70%;
  padding: 0 3%;
  color: #686868;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid #d4a40650;
  box-sizing: border-box;
  background-color: #fff;
}

form button {
  width: 25%;
  padding: 2%;
  border: none;
  border-radius: 2px;
  color: #523f02;
  background-color: #d4a40650;
}

form button span {
  display: none;
}

form #search-button i {
  display: none;
}

form button::before {
  content: "Pesquisar";
}

form button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #523f02;
}

aside h2 {
  width: 100%;
  padding: 3% 0;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Marcellus", serif;
}

/* Cart */
#cart {
  margin: 5% 0 10%;
}

#cart h2 {
  color: #523f02;
  border: 2px solid transparent;
  border-bottom: 2px solid #523f02;
  background-color: #d4a40650;
}

#cart-items {
  height: 35vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #d4a40620;
}

.empty-card {
  margin: auto;
}

.empty-card h5 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
}

.empty-card p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}

.cart-card {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.cart-card img {
  height: 100%;
}

.cart-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: fit-content;
}

.cart-card div h5 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
}

.cart-card div p {
  text-align: right;
  font-weight: 200;
  font-size: 12px;
}

.cart-card button {
  width: 8%;
  border: none;
  opacity: 0;
  transition: 500ms;
  background-color: transparent;
}

.cart-card:hover button {
  opacity: 1;
}

.cart-card button:hover {
  cursor: alias;
  color: red;
}

/* Summary */

#summary {
  padding: 3% 0;
  height: 10vh;
  background-color: #523f02;
}

#summary div {
  margin: 3% 0;
  padding: 0 5%;
  color: #d4a406;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#summary div p:nth-child(1) {
  font-weight: 400;
}

#summary button {
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  width: 100%;
  padding: 2% 0;
  background-color: #000;
}

#summary button:hover {
  color: #d4a406;
  cursor: pointer;
  font-weight: 400;
}

/* Wish List */

#wish-list h2 {
  color: #000;
  border: 2px solid transparent;
  border-bottom: 2px solid #000;
  background-color: #00000050;
}

#wish-items {
  height: 15vh;
  overflow: scroll;
  background-color: #00000020;
}

.wish-card {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.wish-card img {
  height: 100%;
}

.wish-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.wish-card div h5 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
}

#wish-list .wish-card button {
  width: 8%;
  border: none;
  color: #000;
  opacity: 0;
  transition: 500ms;
  background-color: transparent;
}

#wish-list .wish-card:hover button {
  opacity: 1;
  background-color: transparent;
}

#wish-list .wish-card button:hover {
  color: red;
}

#wish-list button {
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  width: 100%;
  padding: 2% 0;
  background-color: #000;
}

#wish-list button:hover {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  background-color: #523f02;
}

/* VISUAL CONTROL */

.active {
  color: #000;
  font-weight: 400;
}

.clear {
  display: none;
}

/* RESPONSIVE LAYOUTS */
@media screen and (min-width: 2280px) {
  /* HEADER */

  header h1 {
    font-size: 3.5em;
  }

  header li {
    font-size: 24px;
  }

  /* MAIN */
  /* Product Cards */

  article small {
    font-size: 18px;
  }

  article h3 {
    font-size: 30px;
  }

  article h4 {
    font-size: 34px;
  }

  article p {
    font-size: 24px;
  }

  article .add-cart {
    width: 55%;
    font-size: 24px;
  }

  article .wish {
    font-size: 24px;
  }

  /* ASIDE */
  /*Search Bar*/
  form input {
    font-size: 20px;
  }

  form button {
    font-size: 24px;
  }

  /* Cart + Whish List */
  #cart h2,
  #wish-list h2 {
    font-size: 30px;
  }

  .cart-card {
    height: 15vh;
  }

  .empty-card h5 {
    font-size: 28px;
  }

  .empty-card p {
    font-size: 24px;
  }

  .cart-card div h5,
  .wish-card div h5 {
    font-size: 24px;
  }

  .cart-card div p {
    font-size: 18px;
  }

  .cart-card button,
  #wish-list .wish-card button {
    font-size: 16px;
  }

  /* Summary + Whish List */
  #summary div p {
    font-size: 26px;
  }

  #summary button,
  #wish-list button {
    font-size: 24px;
    padding: 1% 0;
  }
}
@media screen and (min-width: 860px) and (max-width: 1139px) {
  /* Header */
  header li {
    font-size: 12px;
    margin: 0.7%;
  }

  /* MAIN */

  article div {
    margin: 3% 0 0;
  }

  article small {
    font-size: 9px;
  }

  article h3 {
    font-size: 16px;
  }

  article p {
    height: 5.2vh;
    font-size: 12px;
  }

  article h4 {
    margin: 5% 0 0;
    font-size: 16px;
  }

  article .add-cart {
    width: 70%;
    font-size: 12px;
  }

  /* ASIDE */
  /* Form */
  form button {
    font-size: 11px;
  }

  /* Cart */

  #cart {
    margin: 5% 0 15%;
  }

  .cart-card div h5 {
    font-size: 11px;
  }

  .cart-card div p {
    font-size: 11px;
  }
}
/* @media screen and (min-width: 580px) and (max-width: 859px) { */
@media screen and (max-width: 859px) {
  /* HEADER */
  header {
    width: 100%;
    padding-top: 2%;
    align-items: center;
    position: fixed;
    top: 0;
  }

  /* Filters */
  #type,
  #tags {
    width: 100%;
    padding: 0 1%;
    display: block;
    justify-content: center;
  }

  #type ul,
  #tags ul {
    width: 100%;
    justify-content: space-evenly;
  }

  /* MAIN */
  main {
    width: 90vw;
    padding-top: 17vh;
  }

  #display {
    height: fit-content;
    width: 65%;
  }

  /* Product Cards */
  article {
    width: 48%;
  }

  article h4 {
    opacity: 1;
  }

  article p {
    font-size: 11px;
  }

  article .add-cart {
    font-size: 11px;
  }

  article .wish {
    opacity: 1;
  }

  /* ASIDE */

  aside {
    width: 33%;
    height: 70vh;
    position: fixed;
    left: 65%;
    overflow: scroll;
  }

  /* Form  */
  form {
    justify-content: space-around;
  }

  form button {
    width: 20%;
    padding: 5% 3%;
  }

  form #search-button i {
    display: inline;
  }

  form button::before {
    content: "";
  }

  /* Cart + Wish List*/
  #cart h2,
  #wish-list h2 {
    font-size: 13px;
  }

  #cart-items {
    height: 24vh;
  }

  .cart-card {
    height: 7vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .wish-card {
    height: 7vh;
  }

  .cart-card div {
    width: 40%;
  }

  .cart-card div:nth-child(4) {
    flex-direction: row;
    justify-content: flex-end;
  }

  .cart-card div:nth-child(4) p {
    margin: 0 5% 0 0;
  }

  .cart-card div h5 {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
    text-overflow: ellipsis;
  }

  .wish-card div h5 {
    font-size: 12px;
  }

  .cart-card p {
    font-size: 10px;
  }

  .cart-card button,
  #wish-list .wish-card button {
    width: 10%;
    height: 100%;
    opacity: 1;
  }

  /* Summary */
  #summary {
    height: 6vh;
  }
  #summary div {
    font-size: 12px;
  }
}
@media screen and (min-width: 300px) and (max-width: 579px) {
  /* HEADER */
  /* Filters */
  #tags ul {
    display: none;
  }

  /* MAIN */
  main {
    width: 97vw;
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
  }

  /* Mobile Search Bar */
  #mobile-search {
    width: 80vw;
    height: 5vh;
    margin: 0 auto 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-search div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  #mobile-search button {
    padding: 1%;
  }

  #mobile-search small {
    color: #88888899;
  }

  /* Products Container */
  #display {
    width: 100%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Product Cards */
  article {
    width: 75%;
    margin: 0 2% 2%;
  }

  /* Aside */

  aside {
    width: 90%;
    margin: auto;
    height: fit-content;
    position: static;
  }

  /* Search Bar */
  aside form {
    display: none;
  }

  /* Cart +  Wish List */
  #cart {
    margin: 5% 0 13%;
  }

  #cart h2,
  #wish-list h2 {
    font-size: 18px;
  }

  #cart-items {
    height: 25vh;
  }

  .cart-card {
    width: 100%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  .cart-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 45%;
  }

  .cart-card div:nth-child(4) {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  .cart-card div h5,
  .wish-card div h5 {
    font-size: 13px;
  }

  .cart-card div p {
    text-align: right;
    font-weight: 200;
    font-size: 12px;
  }

  .cart-card button {
    width: 8%;
    border: none;
    transition: 500ms;
    background-color: transparent;
  }

  /* Summary */
  #summary {
    height: 10vh;
  }

  #summary div {
    font-size: 16px;
  }
}
